<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Знакомство с языком программирования Python</title>
		<style>
			body {
				max-width: 100%;
				height: 100%;
				margin: 0;
				padding: 0 10px;
				box-sizing: border-box;
				border-radius: 5%;
				font-size: 16px;
				overflow: hidden;
			}

			.theory {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}

			.theory__content {
				margin-bottom: 20px;
				max-height: 400px;
				overflow: auto;
				overflow-x: hidden;
			}

			.theory__h3 {
				margin-bottom: 10px;
			}

			.theory__h4 {
				margin-bottom: 10px;
			}

			.theory__p {
				text-indent: 10%;
				margin: 0;
			}

			.theory__ol,
			.theory__ul {
				margin: 0;
			}

			.theory__img {
				margin-bottom: 10px;
				width: 145px;
			}

			.theory__link {
				display: block;
				margin-bottom: 10px;
			}

			.theory__buttons {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 20px;
			}

			.theory__buttons-link {
				text-decoration: none;
			}

			.theory__buttons-button {
				display: block;
				width: 100%;
				cursor: pointer;
				height: 50px;
			}

			@media (max-height: 600px) {
				body {
					margin: 0 auto;
				}
			}
		</style>
	</head>
	<body class="theory">
		<div class="theory__content">
			<h2 class="theory__h2">Работа с графикой</h2>

			<h3 class="theory__h3">Графика в программировании</h3>
			<p class="theory__p">
				Графика в программировании включает в себя создание и манипулирование
				изображениями, рисование графиков, анимаций, визуализацию данных и
				многое другое. В зависимости от задачи и используемой платформы,
				существует множество инструментов и библиотек для работы с графикой.
			</p>

			<h3 class="theory__h3">Библиотеки для работы с графикой в Python</h3>
			<p class="theory__p">
				В Python одной из наиболее популярных библиотек для работы с графикой
				является Matplotlib. Эта библиотека предоставляет широкие возможности
				для создания различных типов графиков и диаграмм, визуализации данных,
				рисования изображений и анимаций.
			</p>

			<a class="theory__link" href="https://docs.python.org/3/index.html"
				>Дополнительная информация</a
			>
		</div>

		<div class="theory__buttons">
			<a class="theory__buttons-link" href="/">
				<button class="theory__buttons-button">Назад</button>
			</a>
			<a class="theory__buttons-link" href="/Z8-1">
				<button class="theory__buttons-button">Практика</button>
			</a>
		</div>
	</body>
</html>
